<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lillian's to do list.</title>

    <link href="/styles/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">

</head>

<body>
    <div class="notebook">
        <div class="notebook__margin"></div>
        <div class="notebook__content">
            <section class="notebook__indent"></section>
            <section class="notebook__header">
                <h1>Lillian's To-Dos</h1>
                <p> what's on the platter today?</p>
            </section>
            <section class="notebook__body">
                <ul id="todo-items">
                </ul>
            </section>
            <section class="notebook__footer">
                <form id="todo-form" class="todo-form"> 
                    <input class="todo__add" type="text" name="todo" placeholder="add a todo here">
                    <button class="todo__add"> add </button>
                </form>
            </section>
        </div>
    </div>

    <!---ADD YOUR JAVASCRIPT AT THE END SO THE HTML IS ALL LOADED-->
    <script src="/js/main.js"></script>
</body>

</html>