<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lillian's to do list.</title>

        <link href="/styles/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="notebook">
           <section class="notebook__top notebook__side" >
                <h1>hello hello, everything is normal</h1>
                <p> testing my font out</p>
            </section>
            <section class="notebook__lines">
                <ul id="todo-items">

                </ul>
            </section>
        </div>
         <!---ADD YOUR JAVASCRIPT AT THE END SO THE HTML IS ALL LOADED-->
         <script src="/js/main.js"></script>
    </body>
</html>