<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lillian's to do list.</title>

        <link href="/styles/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap" rel="stylesheet">

    </head>
    <body>
        
        <div class="notebook">
           <section class="notebook__top notebook__side" >
                <h1>Lillian's To-Dos</h1>
                <p> what's on the platter today?</p>
            </section>
            <section class="notebook__lines">
                <ul id="todo-items">
                </ul>
                <form id="todo-form">
                    <input type="text" name="todo-input" placeholder="add a todo here">
                    <button> add </button>
                </form>
            </section>
        </div>
         <!---ADD YOUR JAVASCRIPT AT THE END SO THE HTML IS ALL LOADED-->
         <script src="/js/main.js"></script>
    </body>
</html>