*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}
html{
    font-size: 16px;
    
}
body{
    background-image: linear-gradient(#103969, #04557d);
    background-size: 100% 100%;
}
h1{
    font-size: 3rem;
}
li{
    list-style-type: none;
}
.debug{
    border: 1px solid black;
}
.notebook{
    margin:2rem;
}
.notebook__content{
    background: #f4ffe3;
    box-shadow: 9px 9px 8px #151b26;
    padding: 0rem 2rem 0rem 2rem;
    
}
.notebook__margin{
    background: none;
    border-right: 2px red;
    width: 20%;
    height: 100%;
   
}
.notebook__header{
    border-bottom: 2px solid #298dff;
    padding: 4rem 1rem 2rem 1rem;

}
.notebook__body{
    border-bottom: 2px solid #298dff;
    padding: 1rem 1rem 2rem 1rem;
}

.notebook__footer{
    height: 4rem;
    padding: 1rem 0rem 3rem 1rem;
   
    
}

.todo__line{
    border-bottom: 1px solid  #298dff;
    padding: 0.25rem;
}
.todo__status  {
    border: 2px solid #144f91;
    background-image: linear-gradient(#298dff,#2276d6);
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    padding: 0;
}
.todo__status:hover{
    border: 2px solid #298dff;
}

.todo__status:active{
    background: white;
}

.todo__delete{
    background: none;
    color:black;
    border: 2px dotted #144f91;
    padding: 0.05rem 0.25rem 0.05rem 0.25rem;
    font-size: 1rem;
}
.todo__delete:hover{
    border: 2px solid #144f91;
}
.todo__add{
    
    padding: 0.05rem 0.25rem 0.05rem 0.25rem;
    font-size: 1rem;
}

input{
    width: 45%;
}